:root {
    --main-color: #ff5757;
    --autox-color: rgb(228, 148, 0);
    --race-color: rgb(211, 211, 211) ;
    --trackday-color: #b63e3e;
    --button-color: #474747;
    --button-text-color: rgb(248, 248, 248);
}

body {
    /*border-style: solid;
    border-color: orange;*/
    margin: 0;
    background-color: black;
    color: var(--main-color);
    /*Centers the background and keeps it zoomed out*/
    background-image: radial-gradient(rgba(0, 0, 0, 0.486), rgba(0, 0, 0, 0.781)), url(race2.jpg);
    background-size: cover;
    background-position: center;
}

#map {
    /*border: 5px solid red;*/
    height: 100%;
    width: 100vw;
    left: 450px;
    position: fixed;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;

    background-color: black;
    height: 100vh;
    width: 450px;   

    overflow-y: none;
    overflow-x: hidden;
}

.sidebar::-webkit-scrollbar {
    width:0;
}

.sidebar img {
    margin-top: -40px;
    height: 300px;
    width: 300px;
    padding: 0;
    margin-left: 75px;  
    /*border: 5px solid red;*/  
}

.event--selection,
.dropdown {
    /*border: 5px solid red;*/
    border: none;
    margin-left: 30px;  
    margin-bottom: 20px;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0);
    color: white;  
    font-family: 'Manrope', sans-serif;
}

.distance--selection {
    margin-left: 15px;
}

.date--selection {
    margin-left: 15px;
}

.calendar_label {
    margin-left: 9px;
}

.calendar {
    margin-left: 11px;
    padding: 0px;
}

.button1,
.button2 {
    background-color: var(--button-color);
    color: var(--button-text-color);
    font-family: 'Manrope', sans-serif;
    border-radius: 8.7px;
    margin-left: -272px;
    height: 65px;
    width: 235px;
    text-decoration: none;
    border: none;
    opacity: 1;
}

.button1 {
    position: fixed;
    margin-top: 172px;
}

.button2 {
    margin-top: 260px;
    width: 235px;
    position: fixed;
}

.button2:hover, 
.button1:hover {
    background-color: var(--main-color);
    transition: background-color .5s;
}

.button--text {
    margin-top: 20px;
    margin-left: 33px;
    font-size: 18px;
}

.event{
    opacity: 0;
}

.dropdown {
    opacity: 0;
}

.event--autox,
.event--trackday,
.event--race {
  display: none;
  opacity: 0;  
  list-style: none;
  width: 300px;
  margin-left: 62px;
  color: white;
  background-color: black;
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
  padding: .4rem 2.25rem;
  margin-bottom: 1.75rem;
  font-family: 'Manrope', sans-serif;
  font-size: .8rem;
  border-radius: 5px;
  letter-spacing: .1em;
}

.event--autox {
    background-image: radial-gradient(rgba(0, 0, 0, 0.781), rgba(0, 0, 0, 0.781)), url(orglogo.png);
    border-left: 9px solid var(--autox-color);
}

.event--autox:hover {
    border-left: 9px solid  rgb(253, 200, 100);
    transition: border-left;
}

.event--autox.unhidden {
    opacity: 1;
    transition: opacity .5s;
}

.event--trackday {
    background-image: radial-gradient(rgba(0, 0, 0, 0.781), rgba(0, 0, 0, 0.781)), url(scda.jpeg);
    border-left: 9px solid var(--trackday-color);
}

.event--trackday.unhidden {
    opacity: 1;
    transition: opacity .5s;
}

.event--trackday:hover {
    border-left: 9px solid var(--main-color);
    transition: border-left;
}

.event--race {
    background-image: radial-gradient(rgba(0, 0, 0, 0.781), rgba(0, 0, 0, 0.781)), url(nasa.jpg);
    border-left: 9px solid var(--race-color);
}

.event--race.unhidden {
    opacity: 1;
    transition: opacity .5s;
}

.event--race:hover {
    border-left: 9px solid rgb(255, 255, 255);
    transition: border-left;
}

.button1.buttonhide{
    opacity: 0;
    transition: opacity 1s !important;
}

.button2.buttonhide{
    opacity: 0;
    transition: opacity 1s !important;
}

.mreg--logo img{
    /*border: 5px solid red;*/
    position: relative;
    height: 37px;
    width: 238px;
    margin-top: 35px;
    margin-left: 110px;
}

.leaflet-popup .leaflet-popup-content-wrapper {
    background-color: black;
    color: white;
    border-radius: 5px;
    padding-right: 0.6rem;
}

.leaflet-popup .leaflet-popup-tip {
    background-color: var(--main-color);
}

.track-popup .leaflet-popup-content-wrapper {
    border-left: 40px solid var(--trackday-color);
}

.autox-popup .leaflet-popup-content-wrapper {
    border-left: 40px  solid var(--autox-color);
}

.race-popup .leaflet-popup-content-wrapper {
    border-left: 40px solid var(--race-color);
}

.leaflet-popup-content-wrapper img {
    position: fixed;
    height: 35px;
    width: 35px;
    left: -.5px;
}

.leaflet-popup-content-wrapper {
    cursor: default;
}

.track-popup img {
    position: relative;
    height: 30px;
    width: 30px;
    top: 38px;
    left: -75px;
}   

.autox-popup img {
    position: relative;
    height: 30px;
    width: 30px;
    top: 38px;
    left: -75px;
}   

.race-popup img {
    position: relative;
    height: 30px;
    width: 30px;
    top: 38px;
    left: -75px;
}   

.overlay {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(27, 27, 27, 0.24);
    backdrop-filter: blur(3px);
    z-index: 5;
    transition: opacity 1s;
}
.overlay__fadein {
  opacity: 1;
  transition: opacity 1s;
}

.hidden {
    display: none;
}

.modal {
    opacity: 0;
    transition: opacity 1s;
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 50%;

    background-color: rgb(39, 38, 38);
    padding: 6rem;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
}
.modal__fadein {
    opacity: 1;
    transition: opacity 1s;
  }


.close-modal {
    position: absolute;
    top: 1.2rem;
    right: 2rem;
    font-size: 5rem;
    color: #333;
    cursor: pointer;
    border: none;
    background: none;
    transition: transform .5s, color .5s;
  }

.close-modal:hover {
    color: var(--main-color);
    transform: rotate(0.5turn);   
}

.modaltext {
    font-family: 'Manrope', sans-serif;
    color: white;
}

/*.leaflet-popup-content-wrapper {
   background-color: red !important;
}*/
